/* src/styles/App.css */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f5f7; /* 전체 배경색 */
}

.main-layout {
  display: flex;
  flex: 1;
  overflow: hidden; /* 넘치는 콘텐츠 숨기기 */
}

.chat-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fff; /* 메인 컨테이너 배경색 */
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* 전체 화면의 스크롤을 막습니다. */
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
